{{ define "header" }}

<!DOCTYPE html>
<html>
  <head>
    <base href="/" />
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href="/styles/dist/styles.css" >
  </head>
  <body>

    {{ if .UserID }}

      <div class="header_loggedin">
        <div class="left">
          <a href="/">Home</a>
          <a href="/create-blog">Create Blog</a>
        </div>
        <div class="right">
          <a href="/profile/{{ .UserID }}">Profile</a>
          <a href="/logout">Logout</a>
        </div>
      </div>

    {{ else }}

      <div class="index_header">
        <div class="right">
          <a href="/welcome">Home</a>
          <a href="/login">Login</a>
          <a href="/signup">Signup</a>
        </div>
      </div>

    {{ end }}

{{ end }}
